@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: auto;
    padding: 0 10px;
}
@font-face { 
    font-family: 'NotoSansKR-Regular'; /* 폰트 명 */
    font-style: normal; /* 폰트 스타일 설정 */
    font-weight: 100; /* 폰트 두께 */ 
    src: url(../font/NotoSansKR-Regular.eot); /* IE9 미만 */
    src: local(NotoSansKR-Regular-alt), /* 웹 브라우저가 지원하지 않는 불필요한 웹 폰트 호출을 막는데 사용 */
    url(../font/NotoSansKR-Regular.eot) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/NotoSansKR-Regular.woff2) format('woff2'), /* WOFF의 차기 포맷 */
    url(../font/NotoSansKR-Regular.woff) format('woff'), /* 표준 브라우저 */
    url(../font/NotoSansKR-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(../font/NotoSansKR-Regular.svg) format('svg'); /* TTF에서도 커버가 안되는 기기들에 대한 대응 */
    }

/* =====header===== */
header {
    position: relative;
    width: 100%; height: 960px;
    background: url(../image/빕스\ 메인\ 사진.png) no-repeat center top;
}
nav {
    width: 100%; height: 130px;
    background-color: rgba(0, 0, 0, 0.5)
}
/* menu-box */
.menu-box {
    display: flex;
    justify-content: space-between;
    width: 100%; height: 130px;
    /* background-color: aqua; */
}
.menu-box > .logo-box {
    display: flex;
    width: 135px;
    justify-content: space-between;
    align-items: center;
}
.menu-box > .gnb {
    display: flex;
    width: 812px;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.menu-box > .gnb a {
    font-size: 20px;
    padding-left: 44px;
    color: white;
    /* background-color: aqua; */
}
.menu-box > .gnb a:hover {
    font-weight: bold;
    color: #be2c37
}

/* ===== main ===== */
