@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: auto;
    padding: 0 10px;
}
@font-face { 
    font-family: 'NotoSansKR-Regular'; /* 폰트 명 */
    font-style: normal; /* 폰트 스타일 설정 */
    font-weight: 100; /* 폰트 두께 */ 
    src: url(../font/NotoSansKR-Regular.eot); /* IE9 미만 */
    src: local(NotoSansKR-Regular-alt), /* 웹 브라우저가 지원하지 않는 불필요한 웹 폰트 호출을 막는데 사용 */
    url(../font/NotoSansKR-Regular.eot) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/NotoSansKR-Regular.woff2) format('woff2'), /* WOFF의 차기 포맷 */
    url(../font/NotoSansKR-Regular.woff) format('woff'), /* 표준 브라우저 */
    url(../font/NotoSansKR-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(../font/NotoSansKR-Regular.svg) format('svg'); /* TTF에서도 커버가 안되는 기기들에 대한 대응 */
    }

/* =====header===== */
header {
    position: relative;
    width: 100%; height: 960px;
    background: url(../images/main_picture.png) no-repeat center top;
}
nav {
    width: 100%; height: 130px;
    background-color: rgba(0, 0, 0, 0.5)
}
/* menu-box */
.menu-box {
    display: flex;
    justify-content: space-between;
    width: 100%; height: 130px;
    /* background-color: aqua; */
}
.menu-box > .logo-box {
    display: flex;
    width: 135px;
    justify-content: space-between;
    align-items: center;
}
.menu-box > .gnb {
    display: flex;
    width: 812px;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.menu-box > .gnb a {
    font-size: 20px;
    padding-left: 44px;
    color: white;
    /* background-color: aqua; */
}
.menu-box > .gnb a:hover {
    font-weight: bold;
    color: #be2c37
}

/* ===== main ===== */
.main-store-box {
    display: flex;
    width: 100%;
}
/* main-menu */
.main-store-box > .main-menu {
    width: 960px;
    height: 960px;
    text-align: center;
    background-image: url(../images/meat.png);
}
.main-store-box > .main-menu > h2 {
    padding-top: 330px;
    padding-bottom: 41px;
    font-size: 90px;
    font-weight: bold;
    color: white;
    /* background-color: aqua; */
}
.main-store-box > .main-menu > strong {
    width: 338px;
    margin: auto;
    padding-top: 39px;
    border-top: 2px solid white;
    font-size: 20px;
    color:white;
    /* background-color: aquamarine; */
}
.main-store-box > .main-menu > strong > .cook {
    display: block;
    padding-top: 15px;
    font-size: 25px;
    /* background-color: blue; */
}

/* store */
.main-store-box > .store {
    width: 960px;
    height: 960px;
    text-align: center;
    background-image: url(../images/store.png);
}
.main-store-box > .store > h2 {
    padding-top: 330px;
    padding-bottom: 82px;
    font-size: 90px;
    font-weight: bold;
    color: white;
    /* background-color: aqua; */
}
.main-store-box > .store > strong {
    font-size: 20px;
    color:white;
    /* background-color: aquamarine; */
}
.main-store-box > .store > form > input {
    width: 508px; height: 50px;
    margin-top: 15px;
    border-style: none;
    border-radius: 20px;
    background-color: rgba(155, 152, 146, 0.4);
}

/* salad-bar */

.salad-bar {
    width: 100%;
    height: 1000px;
    /* background-color: blueviolet; */
}
.salad-bar .salad-bar-box {
    display: flex;
    justify-content: space-between;
    height: 1000px;
    /* background-color: antiquewhite; */
}

.salad-bar .salad-bar-box > .salad-bar-text > h2 {
    padding-top: 236px;
    padding-bottom: 25px;
    font-size: 70px;
    font-weight: bold;
    /* background-color: #c0c0c0; */
}
.salad-bar .salad-bar-box > .salad-bar-text .salad-bar-sub-title {
    padding-bottom: 80px;
    font-size: 14px;
    color: #c0c0c0;
    /* background-color: blue; */
}
.salad-bar .salad-bar-box > .salad-bar-text strong {
    font-size: 23px;
    padding-bottom: 35px;
}
.salad-bar .salad-bar-box > .salad-bar-text p {
    padding-bottom: 58px;
    font-weight: 540;
}
.salad-bar .salad-bar-box > .salad-bar-text .learn-more {
    width: 164px; height: 41px;
    line-height: 41px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: #be2c37; */
}

.salad-bar .slide img {
    width: 280px; height: 420px;
}
